.addoncar{
    margin: 0.5em auto;
    font-weight: bold;
    width: 70%;
}
.addoncar input, .removeoncar input{
    margin: auto;
   width: 90%;
} 
.removeoncar{
    font-weight: bold;
    width: 500px;
    margin: 7em auto;
}
.listaprodutos{
    overflow: auto;
    max-height: 200px;
}
table{
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}
h3{
    text-align: center;
}
th, td{
    padding: 10px 20px;
    border: 1px solid #000;
}

.botaoadd{
    margin-top: 0.7em;
}